.product-table-wrapper {
    .product-table {
        width: 100%;
        box-shadow: $shadow-default;
        border-radius: 3px;

        thead {
            color: $color-white;
            background-color: $color-dark-blue;
        }

        th {
            font-size: 18px;
            cursor: pointer;
        }

        td, th {
            position: relative;
            padding: 15px;
            border: 1px solid $color-gray;
            text-align: left;
            vertical-align: middle;
            line-height: 1;

            &:first-child {
                text-align: center;
            }

            &:nth-child(3) {
                text-align: center;
            }
        }

        .table-icon {
            display: inline-block;
            margin-left: 5px;
            vertical-align: middle;
            font-size: 10px;
        }

        .star-rating {
            display: inline-block;
        }
    }

    @media (max-width: $screen-xs-max) {
        position: relative;
        overflow-x: auto;

        .product-table {
            width: auto;
            min-width: 768px;
            overflow-x: auto;

            th {
                font-size: 16px;
            }

            td {
                font-size: 14px;
            }

            td, th {
              padding: 8px;
            }
        }
    }
}


