* {
    box-sizing: border-box;
}

* :before,
* :after {
    box-sizing: border-box;
}

* {
    outline: none !important;
    -webkit-overflow-scrolling: touch;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
