html, body {
    height: 100%;
    width: 100%;
}
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

// Body reset

body {
    color: $color-black;
    background-color: $color-white;
    font-weight: 400;

    padding: 0;
    margin: 0;
    min-width: 320px;
    line-height: 1.42;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    -webkit-box-orient: vertical;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
