h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 30px 0;
    border-bottom: 1px solid $color-gray;
}

h2 {
    margin-bottom: 20px;
}


@media (max-width: $screen-xs-max) {
    h1 {
        font-size: 22px;
        padding: 20px 0;
        border-bottom: 1px solid $color-gray;
    }

    h2 {
        font-size: 18px;
    }
}
