// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `$grid-columns`.

// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin make-grid-columns($i: 1, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}") {
    @for $i from (1 + 1) through $grid-columns {
        $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
    }
    #{$list} {
        position: relative;
        // Prevent columns from collapsing when empty
        min-height: 1px;
        // Inner gutter via padding
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
        float: left;
    }
}
// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin grid-columns($class, $i: 1, $list: ".col-#{$class}-#{$i}") {
    @for $i from (1 + 1) through $grid-columns {
        $list: "#{$list}, .col-#{$class}-#{$i}";
    }
    #{$list} {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
    }
}
@mixin calc-grid-column($index, $class, $type) {
    @if ($type == max-width) and ($index > 0) {
        .col-#{$class}-#{$index} {
            flex-basis:percentage(($index / $grid-columns));
            max-width: percentage(($index / $grid-columns));
        }
    }

    @if ($type == offset) {
        .col-#{$class}-offset-#{$index} {
            margin-left: percentage(($index / $grid-columns));
        }
    }
}
@mixin calc-grid-flex($class, $type) {
    @if ($type == col) {
        .col-#{$class} {
            flex-grow:1;
            flex-basis: 0;
            max-width: 100%;
        }
    }

    @if ($type == start) {
        .start-#{$class} {
            justify-content:flex-start;
            text-align: start;
        }
    }

    @if ($type == center) {
        .center-#{$class} {
            justify-content:center;
            text-align: center;
        }
    }

    @if ($type == end) {
        .end-#{$class} {
            justify-content:flex-end;
            text-align: end;
        }
    }

    @if ($type == around) {
        .around-#{$class} {
            justify-content:space-around;
        }
    }

    @if ($type == between) {
        .between-#{$class} {
            justify-content:space-between;
        }
    }

    @if ($type == top) {
        .top-#{$class} {
            align-items:flex-start;
        }
    }

    @if ($type == middle) {
        .middle-#{$class} {
            align-items:center;
        }
    }

    @if ($type == bottom) {
        .bottom-#{$class} {
            align-items:flex-end;
        }
    }

    @if ($type == self) {
        .self-end-#{$class} {
            align-self:flex-end;
        }
    }

    @if ($type == selfcenter) {
        .self-center-#{$class} {
            align-self:center;
        }
    }

    @if ($type == column) {
        .column-#{$class} {
            flex-direction:column;
        }
    }

    @if ($type == row) {
        .row-#{$class} {
            flex-direction:row;
        }
    }

    @if ($type == last) {
        .last-#{$class} {
            order:1;
        }
    }

    @if ($type == first) {
        .first-#{$class} {
            order:0;
        }
    }
}
// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin loop-grid-columns($columns, $class, $type) {
    @for $i from 0 through $columns {
        @include calc-grid-column($i, $class, $type);
    }
}
@mixin calc-orders($i) {
    .order-#{$i} {
        order:($i);
    }
}
@mixin create-orders($end, $i: 1) {
    @for $i from (1 + 1) through $end {
        @include calc-orders($i);
    }
}
// Create grid for specific class
@mixin make-grid($class) {
    @include grid-columns($class);
    @include calc-grid-flex($class, col);
    @include loop-grid-columns($grid-columns, $class, max-width);
    @include loop-grid-columns($grid-columns, $class, offset);
    @include calc-grid-flex($class, start);
    @include calc-grid-flex($class, center);
    @include calc-grid-flex($class, end);
    @include calc-grid-flex($class, around);
    @include calc-grid-flex($class, between);
    @include calc-grid-flex($class, top);
    @include calc-grid-flex($class, middle);
    @include calc-grid-flex($class, bottom);
    @include calc-grid-flex($class, self);
    @include calc-grid-flex($class, selfcenter);
    @include calc-grid-flex($class, column);
    @include calc-grid-flex($class, row);
    @include calc-grid-flex($class, last);
    @include calc-grid-flex($class, first);
    @include create-orders(10);
}
