
/** Base **/
$color-white: #ffffff;
$color-black: #000000;
$color-transparent: transparent;

/** Gray **/
$color-gray: #e9e9e9;
$color-gray-light: #fafafa;

$color-dark-blue: #153684;

/** Error **/
$color-error: #ff9090;
$color-star: #FFD700;

/** Shadows **/
$shadow-default: 0 0 12px rgba(0, 0, 0, 0.15);
