.checkbox-filter {
    .checkbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 20px 0;

        .checkbox-label {
            margin-left: 0;

            &:before {
                top: 1px;
                left: 3px;
            }

            span {
                display: inline-block;
                white-space: nowrap;
                padding-left: 30px;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        .checkbox {
            .checkbox-label {
                font-size: 14px;

                span {
                    line-height: 14px;
                }
            }
        }
    }
}

.checkbox {
    position: relative;

    input {
        display: none;
    }

    [type= "checkbox"]:checked ~ .checkbox-label::before {
        transform: scale(1);
        z-index: 2;

        transition: transform 0.3s;
    }

    .checkbox-label {
        position: relative;
        display: inline-block;
        color: $color-black;
        width: 20px;
        height: 20px;
        margin-left: -4px;

        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            border-radius: 3px;
            background: $color-dark-blue;
            transition: transform 0.3s;
        }

        &:before {
            content: '\e81c';
            position: absolute;
            top: 3px;
            left: 3px;
            color: $color-white;
            font-family: "fontello";
            font-size: 14px;
            transform: scale(0);
            transition: transform 0.3s;
        }
    }
}
